Invalid email address allowed in contact list

![image.png](https://raw.githubusercontent.com/FooNicholas/pe/main/files/9a523284-096e-4eff-b95c-26a0be48b035.png)

To recreate:
1) Have a contact in Listify
2) edit 1 e/email@email

Recommendation: Command should check for .com, .sg etc. to check for valid email as well.


<!--session: 1744358086585-da3f2957-c938-4933-a851-d9d35a62568d--><!--Version: Desktop v3.6.1-->

[IMPORTANT!: Please do not edit or reply to this comment using the GitHub UI. You can respond to it using CATcher during the next phase of the PE]
# Team's Response
Thank you for the report. This 'issue' was actually discussed among some team members during development and we decided to allow it as it is valid according to [RFC 5322 (Section 3.4.1)](https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1).

While this format is not commonly used in the Internet, it can still be used in local environments and intranets in the form of `username@hostname`.

Here is the excerpt from RFC 5322 which explicitly allows the mentioned format.

![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S2/pe/master/files/2a96f423-2fb4-48c2-977c-bf14f34d47d2.png)
# Items for the Tester to Verify
## :question: Issue response

Team chose [`response.NotInScope`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

<catcher-end-of-segment><hr>
